*.dll
ASSIMPProject/Debug/*
ASSIMPProject/.vs/*
ASSIMPProject/ASSIMPProject/Debug/*
ASSIMPProject/ASSIMPProject/SOIL2/*
ASSIMPProject/ASSIMPProject/Assimp/*
ASSIMPProject/ASSIMPProject/Dependencies/*
ASSIMPProject/ASSIMPProject/x64/*
*.filters
*.user